<!-- navbar -->
<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
            <a href="" class="navbar-brand">Mooovi</a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li class="active post"><a href="">投稿する</a></li>
            <li><a href="" class="mypage">マイページ</a></li>
            <li><a href="/users/signout" class="signout">ログアウト</a></li>
        </ul>

    </nav>
</div>
