<!-- right -->
<div class="col-xs-3">
    <!-- パネルで囲む -->
    <div class="panel panel-default">
        <div class="panel-heading">
            ランキング
        </div>
        <!-- <div class="panel-body"> -->
        <ul class="nav nav-pills nav-stacked">
            <li><a href=""><i class="glyphicon glyphicon-pencil"></i>1位の映画</a></li>
            <li><a href=""><i class="glyphicon glyphicon-download"></i>2位の映画</a></li>
            <li><a href=""><i class="glyphicon glyphicon-leaf"></i>3位の映画</a></li>
            <li><a href=""><i class="glyphicon glyphicon-folder-open"></i>4位の映画</a></li>
        </ul>
        <!-- </div> -->
    </div>
</div>
