<!DOCTYPE html>
<html>
  <%- include("../common/head") %>
  <body>
    <div class="container">
        <!-- navbar -->
        <%- include("../common/header") %>

        <!-- content -->
        <div class="row row-style">
            <!-- main -->
            <div class="col-xs-9">
              <!-- apply custom style -->
              <div class="page-header" id="page-header-style">
              <h1><small>プロフィール</small></h1>
              </div>
              <div class="row">
                <div class="col-xs-6">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="150x150.jpg" alt="写真" style="width:150px;height:150px;">
                        </a>
                        <div class="caption">
                            <p><b>マイネーム</b></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <%- include("../common/side") %>
        </div>
    </div>
    <!-- footer -->
    <%- include("../common/footer") %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
